<a href="https://colab.research.google.com/github/milenafdiana/Sirius/blob/main/Aula2_Fun%C3%A7%C3%B5esdoPandas_ParteI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div>
<p ><img  align="right" src="https://res.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_256,w_256,f_auto,q_auto:eco,dpr_1/aj29iemt0ogdyrdlksd4" height="160px"></p>
</div>

<br>
<br>

# **Aula 02 - Funções do Pandas - Parte I**

**Funções**
* **head**: Retorna as 5 primeiras linhas.
* **columns**: Os rótulos de coluna do DataFrame.
* **rename**: Altere os rótulos dos eixos.
* **index**: Obtém os índices (rótulos de linha) do DataFrame.
* **dtypes**: Retorna os tipos de dados presentes no DataFrame.
* **shape**: Retorna uma tupla representando a dimensionalidade do DataFrame.
* **info**: Imprime um resumo conciso de um DataFrame.
* **values**: Retorne uma representação Numpy do DataFrame.
<br>
<br>
___

**Importação da Biblioteca**

In [ ]:
import pandas as pd

**DataFrame** é uma estrutura de dados tabulares bidimensionais, mutáveis ​​em tamanho e potencialmente heterogêneos.

A estrutura de dados também contém eixos rotulados (linhas e colunas).

```
pandas.DataFrame(data=None, index=None, columns=None, dtype=None, copy=None)
```

In [ ]:
dicionario = {'Nome': ['Pedro', 'Ana', 'Karina', 'Patricia', 'Carlos', 'Felipe', 'José', 'Gustavo', 'Fernando'],
              'Idade': [20, 21, 19, 18, 23, 21, 27, 30, 22]
                 }

In [ ]:
df = pd.DataFrame(dicionario)

In [ ]:
df.head()

       Nome  Idade
0     Pedro     20
1       Ana     21
2    Karina     19
3  Patricia     18
4    Carlos     23

In [ ]:
df.columns

Index(['Nome', 'Idade'], dtype='object')

In [ ]:
df.rename(columns={'Nome': 'Nome Completo'}, inplace=True)

In [ ]:
df.head()

  Nome Completo  Idade
0         Pedro     20
1           Ana     21
2        Karina     19
3      Patricia     18
4        Carlos     23

In [ ]:
df.rename(index={0: 'x', 1: 'y', 2: 'z'}, inplace=True)

In [ ]:
df.head()

  Nome Completo  Idade
x         Pedro     20
y           Ana     21
z        Karina     19
3      Patricia     18
4        Carlos     23

In [ ]:
df.rename(str.lower, axis='columns', inplace=True)

In [ ]:
df.head()

  nome completo  idade
x         Pedro     20
y           Ana     21
z        Karina     19
3      Patricia     18
4        Carlos     23

In [ ]:
df.index

Index(['x', 'y', 'z', 3, 4, 5, 6, 7, 8], dtype='object')

In [ ]:
df.dtypes

nome completo    object
idade             int64
dtype: object

In [ ]:
df.shape

(9, 2)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, x to 8
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   nome completo  9 non-null      object
 1   idade          9 non-null      int64
dtypes: int64(1), object(1)
memory usage: 516.0+ bytes

In [ ]:
df.values

array([['Pedro', 20],
       ['Ana', 21],
       ['Karina', 19],
       ['Patricia', 18],
       ['Carlos', 23],
       ['Felipe', 21],
       ['José', 27],
       ['Gustavo', 30],
       ['Fernando', 22]], dtype=object)